<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smecky Treasure Goblin</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/headModule.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/bodyModule.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/footModule.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/modalModule.css">
  <script src="../javascripts/thirdparty/jquery.js"></script>
  <script src="../javascripts/thirdparty/jquery-ui.js"></script>
  <script src="../javascripts/thirdparty/bluebird.js"></script>
  <script src="../javascripts/thirdparty/pubsub.js"></script>
  <script src="https://use.fontawesome.com/12350ae6f1.js"></script>
  <script src="../javascripts/shellModule.js"></script>
  <script src="../javascripts/lib/apiManager.js"></script>
  <script src="../javascripts/lib/dataManager.js"></script>
  <script src="../javascripts/lib/stateManager.js"></script>
  <script src="../javascripts/headModule.js"></script>
  <script src="../javascripts/bodyModule.js"></script>
  <script src="../javascripts/footModule.js"></script>
  <script src="../javascripts/modalModule.js"></script>
</head>
<body>
<div id="smecky-treasure-goblin"></div>
</body>
<script>
  $(function () {
    shellModule.init({ $container: $('#smecky-treasure-goblin') })
  })
</script>
</html>