#foot-container {
  height: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 570px;
}

#foot-submit-button {}

#foot-roll-log-button {}

#foot-download-button {
  visibility: hidden;
}

#foot-button-container {
  width: 100%;
  height: 100%;
  margin: 0 15px 0 15px;
  display: flex;
  justify-content: space-around;
}

.foot-button {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#foot-submit-button:active {
  font-size: 1.3em;
}

#foot-roll-log-button:active {
  font-size: 1.3em;
}