#roll-log-modal {
  height: 100%;
  max-width: 570px;
  padding: 30px 15px 30px 15px;
  margin: 0 auto 0 auto;
  border-left: 15px solid white;
  border-right: 15px solid white;
  background: black;
  color: white;
  overflow-y: auto;
  overflow-x: hidden;
}

.roll-log-item-container {
  display: flex;

  justify-content: space-between;
  margin: 0 0 10px 0;
}

.roll-log-header {
  font-weight: bold;
  font-size: 1.1em;
  text-align: center;
}

.roll-log-item-left {
  width: 32%;
  text-align: left;
}

.roll-log-item-center {
  width: 32%;
  text-align: center;
}

.roll-log-item-right {
  width: 32%;
  text-align: right;
}

.roll-log-item-divider {
  width: 100%;
  border: 1px dashed white;
  margin: 0 0 10px 0;
}

.roll-log-container:last-child {
  border-bottom: 2px solid white;
  padding-bottom: 15px;
}